.wrapper {
    align-content: center;
     margin: auto;
    min-width: 70%;
    max-width: 90%
   
}
.fantasyfont {
   align-self: start;
    text-align: center;
   font:  30px fantasy;
  }

.fantasyfontb{
      align-self: start;
    text-align: center;
   font: bold 50px fantasy;
}

.shadow{         color: #343555;
    letter-spacing: .05em;
    text-shadow: 
      4px 4px 0px #d5d5d5, 
        7px 7px 0px rgba(0, 0, 0, 0.2);}
.boxshadow{
  position: relative;
  border-color: #eee;
  border-style: solid;
  border-width: 5px 5px 5px 5px;
  background: #fff;
  margin: 0 0 15px -15px;
  padding: 5px 15px;
  box-shadow: 1px 1px 1px rgba(0,0,0,.3);
}     
.biocontainer{
    display: grid;
    grid-template-columns: 1fr 2fr;

}
.biocontainer > img{
    width: 100%;
    margin: auto;
    border-radius:20px; 

}
.bio{text-indent: 9px;
    margin-left: 10px;
    font: 15px 'Lora', serif;

    
}
.tilt{
  display:inline-block;
 
  -ms-transform: rotate(25deg);
  -moz-transform: rotate(25deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(25deg);
  transform: rotate(25deg);    
 }
.closer{
    font: 16x 'Lora', serif;
    text-align: center;

}

/*Footer/Contactcontainers */

.contacts {
    padding: 1rem;
    grid-row: 30;
    grid-column: 1;

}

.contacts > a {
    padding: .5em;
}

/*linkstyles*/

a {
    color: darkgray;
    @include transform(perspective(2.5em) rotateX(15deg) scaleY(0.8));
    @include transition(all 0.5s);

}

a:hover {
    color: dimgray;
}

a:active {
    color: red;
}
