.boxwrapper > div {
    padding: .5em;

}

.headlinesupport {
    align-self: start;
    grid-column: 1/4;
    grid-row: 2;
    text-align: center;
    color: dimgrey;
    font: bold 50px fantasy;
}

.intro {
    text-align: center;
    align-self: end;
    grid-column: 1/4;
    grid-row: 3;

}


/*titlecontainers */

.titlestatement {
    font: bold 45px fantasy;
    grid-column: 1/4;
    grid-row: 1;

    text-align: center;

}



/*Footer/Contactcontainers */

.contacts {
    padding: 1rem;
    grid-row: 30;
    grid-column: 1/3;

}

.contacts > a {
    padding: .5em;
}

/*linkstyles*/

a {
    color: darkgray;
}

a:hover {
    color: dimgray;
}

a:active {
    color: red;
}
